.cube {
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 6s infinite linear;
  position: relative;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
}

.cube div {
   width: 200px;
   height: 200px;
   line-height: 200px;
   text-align: center;
   border: 2px solid white;
   background-color: transparent;
   font-size:42px;
   display: block;
   position: absolute;
  mix-blend-mode:contrast;
}

.cube div.top {
   -webkit-transform: rotateX(90deg); 
  margin-top: -50px;
}

.cube div.right {
   -webkit-transform: rotateY(90deg); 
  margin-left: 50px;
}

.cube div.bottom {
   -webkit-transform: rotateX(-90deg); 
  margin-top: 50px;
}

.cube div.left {
   -webkit-transform: rotateY(-90deg); 
  margin-left: -50px;
}

.cube div.front {
   -webkit-transform: translateZ(50px);
}

.cube div.back {
   -webkit-transform: translateZ(-50px) rotateX(180deg);
  
}

.cube div.back span{ 
  transform: rotate(-180deg);
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotateX(-20deg) rotateY(20deg);}
  100% {-webkit-transform: rotateX(-20deg) rotateY(380deg);}
}