.cube {
  position: relative;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 6s infinite linear;
}

.cube div {
   position: absolute;
   display: block;
   width: 200px;
   height: 200px;
   border: 2px solid white;
   font-size:42px;
   line-height: 200px;
   text-align: center;
   background-color: transparent;
  mix-blend-mode:contrast;
}

.cube div.top { 
  margin-top: -50px;
   -webkit-transform: rotateX(90deg);
}

.cube div.right { 
  margin-left: 50px;
   -webkit-transform: rotateY(90deg);
}

.cube div.bottom { 
  margin-top: 50px;
   -webkit-transform: rotateX(-90deg);
}

.cube div.left { 
  margin-left: -50px;
   -webkit-transform: rotateY(-90deg);
}

.cube div.front {
   -webkit-transform: translateZ(50px);
}

.cube div.back {
   -webkit-transform: translateZ(-50px) rotateX(180deg);
  
}

.cube div.back span{ 
  transform: rotate(-180deg);
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotateX(-20deg) rotateY(20deg);}
  100% {-webkit-transform: rotateX(-20deg) rotateY(380deg);}
}